# Virtual environments
venv/
.venv/
env/

# Git
.git/
.gitignore

# Python cache & tests
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# CI / IDE
.github/
.vscode/
.idea/
Dockerfile
.dockerignore
