# Python virtual environment
venv/
.venv/
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Operating System Files
.DS_Store
Thumbs.db
